<!DOCTYPE html>
<html class="html" lang="en-gb">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Rosie Piontek. Traditional Artist using tempera">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <link href="styles/main.css" rel="stylesheet">
        <title>Error</title>
        <style>
            :focus {
              outline: 2px solid black; }
            .capture-transaction-error-wrapper {
              text-align: center; }
            .capture-transaction-error {
              display: inline-block;
              margin-top: 2em;
              text-align: left; }
        </style>
    </head>
    <body>
        <div class="capture-transaction-error-wrapper">
            <div class="capture-transaction-error"><br>
                Unfortunately, something went wrong.<br><br><br>Please use <a href="../contact.php">contact page</a> for further assistance.<br><br><br>Thank you for your patience and I apologise for any inconvenience caused.<br><br><br><i>Rosie Piontek</i><br><br><br>
                <a href="../all-works.php">Home</a>
            </div>
        </div>
    </body>
</html>